$red: #b22222;
$green: #76ff7a;
$black: #000;
$light-purple: #c8afd3;
$dark-purple: #a575ba;

$color-purple-light: #c8afd3;
$color-purple-dark: #a575ba;

$color-white: #fff;
$color-white-off: #f6f5f3;
$color-black-100: #19110b;
$color-red-100: #b22222;
