$dessertVariables: (
  main-color: $color-purple-light,
  secondary-color: $color-purple-dark,
  icon-color: $color-white-100,
  serif-font: $SB_Main-Dessert,
  cursive-font: $SB_Secondary-Dessert,
  border-radius: 10px,
  heart-color: $color-purple-light,
  box-shadow: rgba(200, 175, 211, 0.2),
  box-shadow-hover: rgba(165, 117, 186, 0.2),
  // NEW STUFF
  main-font-color: $color-purple-dark,
  paragraph-font-size: $SB_Base_Font_Size,

  footer-box-shadow: inset 0px 0px 200px black,
  footer-font-color: $color-white-100,
  footer-header-font-size: $SB_H3_Font_Size,
  footer-underline-border: 1px solid $color-white-100,
  footer-icons-hover: $color-purple-light,
  footer-border-hover: 1px solid $color-purple-light,
  footer-icons-hover-filter: drop-shadow(1px 1px 5px $color-purple-dark),
  footer-copyright-background-color: $color-purple-light,

  navbar-nav-border: $color-purple-dark 2px dashed,
  navbar-nav-border-bottom: $color-purple-dark 2px dashed,
  navbar-nav-link-color: $color-white-100,
  navbar-nav-link-highlight: $color-purple-dark,
  navbar-background-color: $color-purple-light,

  contact-header-size: $SB_H3_Font_Size,
  contact-form-header-size: $SB_H4_Font_Size,
  contact-border-color: $color-purple-light,
  contact-border-highlight: $color-purple-dark,

  faq-title-font-size: $SB_H1_Font_Size,
  faq-background-color: $color-purple-light,

  form-label-color: $color-purple-light,
  form-field-color: $color-purple-dark,
  form-border-bottom: 1px solid $color-purple-light,

  button-background-color: $color-purple-light,
  button-background-highlight: $color-purple-dark,
  button-background-disabled: lighten($color-purple-light, 15%),
  button-font-color: $color-white-100,

  checkbox-font-color: $color-purple-light,
  checkbox-font-highlight: $color-purple-dark,
  checkbox-check-border: 2px solid $color-white-100,
  checkbox-border: 1px solid $color-purple-light,
  checkbox-border-highlight: 2px solid $color-purple-dark,
  checkbox-background-color: $color-white-100,
  checkbox-background-checked: $color-purple-light,
  checkbox-after-transition: transform 0.3s cubic-bezer(0.2, 0.85, 0.32, 1.2) opacity 0.3s,

  switch-background-color: $color-purple-light,
  switch-background-hightlight: $color-purple-dark,
  switch-focus-boxshadow: 2px 2px 10px $color-purple-dark,
);
