$SB_Main_Dessert: "Nunito Sans", sans-serif;
$SB_Secondary_Dessert: "Marck Script", cursive;
$SB_Main_Wedding: "Helvetica", sans-serif;
$SB_Secondary_Wedding: "Great Vibes", cursive;

$SB_Main_Font: "Nunito Sans", sans-serif;
$SB_Secondary_Font: "Marck Script", cursive;
