$SB_Container_Large: 1100px;
$SB_Container_Small: 960px;
$SB_Gutter_Width: 30px;
$SB_Small_Font_Size: 12px;
$SB_Base_Font_Size: 14px;
$SB_H1_Font_Size: 40px;
$SB_H2_Font_Size: 36px;
$SB_H3_Font_Size: 30px;
$SB_H4_Font_Size: 24px;
$SB_H5_Font_Size: 20px;
$SB_H6_Font_Size: 18px;

$SB_Border_Radius-Wedding: 0px;
$SB_Border_Radius-Dessert: 10px;
