$SB_Container_XS: 100%;
$SB_Container_SM: 540px;
$SB_Container_MD: 720px;
$SB_Container_LG: 960px;
$SB_Container_XL: 1140px;
$SB_Container_XXL: 1320px;

$SB_Breakpoint_SM: 576px;
$SB_Breakpoint_MD: 768px;
$SB_Breakpoint_LG: 992px;
$SB_Breakpoint_XL: 1200px;
$SB_Breakpoint_XXL: 1400px;

$SB_Gutter_Width: 30px;
$SB_Small_Font_Size: 12px;
$SB_Base_Font_Size: 14px;
$SB_H1_Font_Size: 40px;
$SB_H2_Font_Size: 36px;
$SB_H3_Font_Size: 30px;
$SB_H4_Font_Size: 24px;
$SB_H5_Font_Size: 20px;
$SB_H6_Font_Size: 18px;

$SB_Border_Radius-Wedding: 0px;
$SB_Border_Radius-Dessert: 10px;
