@import "./data.scss";
@import "./dessertVariables.scss";

$themes: (
  weddings: (
    main-color: $color-white-100,
    secondary-color: $color-black-100,
    icon-color: $color-white-off,
    serif-font: $SB_Main-Wedding,
    cursive-font: $SB_Secondary-Wedding,
    border-radius: 0px,
    border: $color-white-off 2px solid,
    nav-color: $color-black-100,
    nav-color-highlight: $color-white-off,
    heart-color: $color-black-100,
    box-shadow: rgba(0, 0, 0, 0.2),
    box-shadow-hover: rgba(0, 0, 0, 0.2),
  ),
  desserts: $dessertVariables,
);
